<!DOCTYPE html>
<html lang="en">
<head>
    <!--Include Bootstrap -->
    <%- include('../snippets/_bootstrap_include.ejs') %>
    <title>Panasonic ERG Login Homepage</title>
</head>
<body>
    <div class="container-fluid">
        <!--Navbar-->
        <%- include('../snippets/_navbar_regular.ejs') %>
    </div>
      <!-- For Wrapper -->
      <%- include('../snippets/_d_flex_wrapper_begin.ejs') %>
        <!--Profile-->
        <%- include('../snippets/_sidebar_profile_regular.ejs') %>
        <!-- EDIT EVERYTHING BELOW: -->
 

        <div class="container">
            (Content)

        </div>
        <div class="container-fluid">
            
        </div>

        <!-- EDIT EVERYTHING ABOVE: -->
        <!-- Include In Ending -->
        <%- include('../snippets/_d_flex_wrapper_end.ejs') %>
</body>
</html>